*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: rgb(19, 104, 169);
}

#formsection{
    height: 500px;
    width: 400px;
    margin:auto;
    margin-top: 50px;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
}
#formsection form{
   padding: 30px;
   color: rgb(0, 0, 0);
}
#formsection form .submitbtn{
   text-align: center;
}
#formsection form .btn{ 
  width: 100%;
 text-align: center;
}
#formsection form p a{
  text-decoration: none;
}
#formsection form p {
 text-align: center;
}
#formsection form p :hover{
  text-decoration: none;
  color: rgb(255, 0, 0);
}
#formsection form .forgotpassword a{
    color: rgb(247, 13, 13);
   float:right;
   text-decoration: none;
}
#formsection h4{
  padding-bottom: 5px;
  text-align: center;
  font-size: 30px;
  font-weight: 900;
}

